<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062408655443-m33fjg6ivrdr03fsjdup405rbrd7m7lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062408655443-m33fjg6ivrdr03fsjdup405rbrd7m7lt</string>
	<key>API_KEY</key>
	<string>AIzaSyD3OMDG6zJH9LoA_7Oi4KGqIDAzD-HjeS8</string>
	<key>GCM_SENDER_ID</key>
	<string>1062408655443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.vijaysharma.CodeComplete</string>
	<key>PROJECT_ID</key>
	<string>mmnv-colouring-book</string>
	<key>STORAGE_BUCKET</key>
	<string>mmnv-colouring-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062408655443:ios:4b9575b066f84d6629eca6</string>
	<key>DATABASE_URL</key>
	<string>https://mmnv-colouring-book.firebaseio.com</string>
</dict>
</plist>